<html>
    <body bgcolor=#92a8d1>

        <center>

        <h1> Predicting customer is Churn  or Non Churn</h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
            <input type="text" name="a" placeholder="AGE" required="required" />
        <input type="text" name="b" placeholder="CUS_Month_Income" required="required" />
		<input type="text" name="c" placeholder="YEARS_WITH_US" required="required" />
           <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

        <img src='C:\Users\rakes\Desktop\download.jpg' alt="Machine learning">
        
    </center>

    </body>
</html>